## Exercise: Download Haberman Cancer Survival dataset from Kaggle. You may have to create a Kaggle account to donwload data. (https://www.kaggle.com/gilsousa/habermans-survival-data-set) 
Perform a similar alanlaysis as above on this dataset with the following sections:
High level statistics of the dataset: number of points, numer of features, number of classes, data-points per class.
Explain our objective.
Perform Univaraite analysis(PDF, CDF, Boxplot, Voilin plots) to understand which features are useful towards classification.
Perform Bi-variate analysis (scatter plots, pair-plots) to see if combinations of features are useful in classfication.
Write your observations in english as crisply and unambigously as possible. Always quantify your results.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Attribute Information:

Age of patient at time of operation (numerical)
Patient's year of operation (year - 1900, numerical)
Number of positive axillary nodes detected (numerical)
Survival status (class attribute) 1 = the patient survived 5 years or longer 2 = the patient died within 5 year

In [12]:
labels=['Age', 'year_op', 'axillary_node', 'survival_status']
df=pd.read_csv(r'C:\Users\Cyborg\Applied AI\Data Structures && CSVs\haberman.csv', names=labels)

In [13]:
df.head()

   Age  year_op  axillary_node  survival_status
0   30       64              1                1
1   30       62              3                1
2   30       65              0                1
3   31       59              2                1
4   31       65              4                1

In [14]:
df.survival_status=df.survival_status.map({1:'Yes', 2:'No'})

In [16]:
df.tail()

     Age  year_op  axillary_node survival_status
301   75       62              1             Yes
302   76       67              0             Yes
303   77       65              3             Yes
304   78       65              1              No
305   83       58              2              No

In [18]:
df.shape

(306, 4)

In [21]:
df.columns

Index(['Age', 'year_op', 'axillary_node', 'survival_status'], dtype='object')

In [22]:
df.describe()

              Age     year_op  axillary_node
count  306.000000  306.000000     306.000000
mean    52.457516   62.852941       4.026144
std     10.803452    3.249405       7.189654
min     30.000000   58.000000       0.000000
25%     44.000000   60.000000       0.000000
50%     52.000000   63.000000       1.000000
75%     60.750000   65.750000       4.000000
max     83.000000   69.000000      52.000000

In [23]:
df.plot(x='age', y='survival_status')

KeyError: 'age'